pandas==1.2.4
PyYAML==5.3.1
numpy==1.21.0
gensim==3.8.3
nltk==3.5
babelpy==1.0.1
mysql==0.0.3
mysql-connector-python==8.0.20
wikipedia2vec==1.0.4
sklearn==0.0
SPARQLWrapper==1.8.5
textblob==0.15.3
matplotlib==3.2.2
pywsd==1.2.4
wn==0.0.23
networkx==2.5
progressbar2==3.53.1
whoosh==2.7.4
sentence-transformers==1.2.0
