name: Testing pipeline
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      -
        name: Checkout Repository
        uses: actions/checkout@v3
      -
        name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      -
        name: Setup installation requirements
        run: |
          pip install --upgrade pip wheel
          pip install pytest-cov==3.00
          pip install -e .
      -
        name: Test
        run: |
          pytest --color=yes --cov-report xml:codecoverage.xml --cov=clayrs test/
      -
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with: # no token required for public repos
          fail_ci_if_error: true
          files: ./codecoverage.xml
